@charset 'utf-8';
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color-scheme: dark;
}
header,
main {
  display: inline-block;
  color: #fff;
  display: block;
  text-align: center;
}
header > div {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #272727;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: block;
  box-sizing: border-box;
}

main > section {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #272727;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: inline-block;
  width: 90vw;
}

footer > section {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #050505;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: block;
  box-sizing: border-box;
}

.container-header > a {
  display: inline-block;
  font-size: x-large;
  text-decoration: none;
  color: #2cc3ff;
  text-shadow: 0 0.5vw 1vw #000;
}
.container-header > a:hover {
  text-decoration: underline;
  color: #0082f3;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: stretch center;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0.3vw;
  padding: 0.3vw;
  padding-bottom: 1px;
  background-color: #fff;
  border-radius: 0.7vw;
  box-shadow: 0vw 0.1vw 1vw #000;
  display: inline-grid;
}

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 0.2vw;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.31, -0.32, 0.71, 1.28) 0s;
}

img:focus {
  width: 42vw;
  height: 42vw;
}
figcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: #000;
  font-size: 14px;
}
.overflow {
  display: none;
}

@media (max-width: 900px) {
  .photo-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
  figure {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  img {
    justify-self: center;
    margin-right: 3px;
    margin-bottom: 0;
    width: 120px;
    height: 120px;
    place-items: center center;
  }
  
  img:focus {
    width: 400px;
    height: 400px;
  }
  figcaption {
    display: block;
    padding: 10px;
    font-size: 20px;
  }
  figcaption:hover::after {
    content: "Clique na imagem ao lado para ampliar a mesma.";
    white-space: pre-wrap;
    color: red;
    font-size: 10px;
    display: block;
  }
}
@media (max-width: 700px) {
  img:focus {
    width: 300px;
    height: 300px;
  }
  figcaption {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  img:focus {
    width: 200px;
    height: 200px;
  }
  figcaption {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
  img:focus {
    width: 180px;
    height: 180px;
  }
  figcaption {
    font-size: 8px;
  }
}
