@charset 'utf-8';
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color-scheme: dark;
}
header,
main {
  display: inline-block;
  color: #fff;
  display: block;
  text-align: center;
}
header > div {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #272727;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: block;
  box-sizing: border-box;
}

main > section {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #272727;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: inline-block;
  width: 90vw;
}

footer > section {
  margin: 2vw;
  padding: 1.5vw;
  background-color: #050505;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw #000;
  display: block;
  box-sizing: border-box;
}

.container-header > a {
  display: inline-block;
  font-size: x-large;
  text-decoration: none;
  color: #2cc3ff;
  text-shadow: 0 0.5vw 1vw #000;
}
.container-header > a:hover {
  text-decoration: underline;
  color: #0082f3;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: stretch center;
    align-items: center;
    justify-content: center;
}

figure {
  margin: 0.3vw;
  padding: 0.3vw;
  padding-bottom: 1px;
  background-color: #fff;
  border-radius: 0.7vw;
  box-shadow: 0vw 0.1vw 1vw #000;
display:inline-grid;
}
img {
  width: 125px;
  height: 125px;
  margin-bottom: 5px;
  border-radius: 0.2vw;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.64, -0.35, 0.2, 1.53) 0s;
}
.img2 {
  margin-bottom: 0vw;
}
img:focus{
    
width:42vw;
  height: 42vw;
}
figcaption {
  color: #000;
  font-size: 15px;
}

@media (max-width: 1000px) {
    .photo-grid {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr ;
    }
    figure {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    img {
        justify-self: end;
        margin-right: 3px;
        margin-bottom: 0;
        width: 120px;
        height: 120px;
        place-items: center center;
    }
    img:focus {
        width:  200px;
        height: 200px;
    }
    figcaption {
    font-size: medium;
    }
    .figcaption2 {
    font-size: small;
    }
}

