@charset 'utf-8';
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  padding: 1vw;
  background-color: #0f0f0f;
  text-align: center;
  display: inline-block;
}
div {
  margin: 1vw;
  background-color: #272727;
  text-align: center;
  display: inline-block;
  padding: 5px;
  border-radius: 0.5vw;
}
figure {
  margin: 1vw ;
  padding: 0.5vw;
  background-color: #FFF;
  border-radius: 1vw;
  display: inline-grid;
}
img {
  width: 12vw;
  height: 12vw;
  margin-bottom:1vw;
  border-radius: 0.2vw;
  transition: ease-in-out .275s;
  cursor: pointer;
}
img:focus {
  width: 42vw;
  height:42vw;
}
figcaption {
  font-weight: 500;
  font-size: 1vw
}
h1 {
  font-weight: 500;
  font-size: 2vw;
}
h4 {
  font-weight: 500;
  font-size: 1.5vw;
}
.Hyperlink {
  text-decoration: none;
  color: #AAA;
}
.Hyperlink:hover {
  text-decoration:underline;
  color: #FFF;
}
