@charset 'utf-8';
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
  padding: 10px;
  background-color: #0f0f0f;
  text-align: center;
  display: inline-block;
}
div {
  margin: 10px;
  background-color: #272727;
  text-align: center;
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
}
figure {
  margin: 10px ;
  padding: 2px;
  background-color: #ffffff;
  display: inline-grid;
  border: 1px solid #000000;
  border-radius: 10px;
}
img {
  border-radius: 10px; ;
  width: 10vw;
  height: 10vw;
  transition: all 0.7s;
}
img:focus {
  width: 42vw;
  height:42vw;
}
figcaption {
  font-weight: 500;
  font-size: 1.5vw;
}
.Hyperlink {
  text-decoration: none;
  color: #AAA;
}
.Hyperlink:hover {
  text-decoration:underline;
  color: #FFF;
}
